<table class="table table-striped">
  <thead>
  <tr>
    <th>Monthly detail</th>
    <th>Cost</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Gross Rent</td>
    <td>£<%= format_price(results.gross_rent) %></td>
  </tr>
  <% if display_result? results.lettings_service %>
    <tr>
      <td>Lettings Service</td>
      <td>£<%= format_price(results.lettings_service) %></td>
    </tr>
  <% end %>
  <% if display_result? results.management_service %>
    <tr>
      <td>Management Service</td>
      <td>£<%= format_price(results.management_service) %></td>
    </tr>
  <% end %>
  <% if display_result? results.maintenance_and_repairs %>
    <tr>
      <td>Maintenance & Repairs</td>
      <td>£<%= format_price(results.maintenance_and_repairs) %></td>
    </tr>
  <% end %>
  <% if display_result? results.voids %>
    <tr>
      <td>Voids</td>
      <td>£<%= format_price(results.voids) %></td>
    </tr>
  <% end %>
  <% if display_result? results.additional_fees %>
    <tr>
      <td>Additional Fees</td>
      <td>£<%= format_price(results.additional_fees) %></td>
    </tr>
  <% end %>
  <tr>
    <td>Total Costs</td>
    <td>£<%= format_price(results.total_costs) %></td>
  </tr>
  <tr>
    <td>Net Rent</td>
    <td>£<%= format_price(results.net_rent) %></td>
  </tr>
  </tbody>
</table>